<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MarkNotes</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Files <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a ng-click="clearEditor()">New</a>
            </li>
            <li><a ng-click="chooseFile()">Open</a></li>
            <li><a ng-click="saveFile()">Save</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Import from Evernote</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Print</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="document.saved"><p class="navbar-text"><span class="label label-success">Saved</span></p></li>
        <li ng-if="!document.saved"><p class="navbar-text"><span class="label label-danger">Unsaved</span></p></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>